@tailwind components;

@layer components {
  /* Custom components */

  .grid-leaderboard {
    display: grid;
    align-items: center;
    grid-template-columns:
      minmax(0, 0.25fr)
      minmax(0, 1fr)
      minmax(0, 2fr)
      minmax(0, 1fr);

    @media screen(mobile) {
      grid-template-columns:
        minmax(0, 0.5fr)
        minmax(0, 1fr)
        minmax(0, 0.5fr)
        minmax(0, 3.5fr)
        repeat(2, minmax(0, 1fr));
    }
  }

  .glow-gold {
    filter: drop-shadow(rgba(255, 255, 13, 0.32) 0px 0.4rem 1.8rem);
  }

  .glow-silver {
    filter: drop-shadow(theme(colors.slate.500) 0px 0.4rem 1rem);
  }

  .glow-bronze {
    filter: drop-shadow(theme(colors.amber.700) 0px 0.4rem 1rem);
  }

  .corner-tri-br {
    &:after {
      @apply absolute right-0 bottom-0 block h-24 w-24 text-24;
      border-left: 1em solid transparent;
      border-bottom: 1em solid theme(colors.background.primary);
      content: '';
    }
  }

  .corner-tri-tr {
    &:after {
      @apply absolute right-0 top-0 block h-24 w-24 text-24;
      border-left: 1em solid transparent;
      border-top: 1em solid theme(colors.background.primary);
      content: '';
    }
  }
}
